html, body, #root {
  height: 100%;
  min-height: 100%;
  margin: 0;
  padding: 0;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.App{
  background: linear-gradient(135deg, #F8F9FB 0%, #E8F3F7 100%);
  height: 100%;
  overflow-y: auto;
}